# Copyright 2023 Chainguard, Inc.
# SPDX-License-Identifier: Apache-2.0

name: Verify

on:
  pull_request:
    branches:
      - 'main'
  push:
    branches:
      - 'main'

permissions: {}

jobs:

  verify:
    name: Verify Codegen
    runs-on: ubuntu-latest
    permissions:
      contents: read

    env:
      GOPATH: ${{ github.workspace }}

    steps:
      - name: Check out code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          path: ./src/github.com/${{ github.repository }}
          fetch-depth: 0
          persist-credentials: false

      - name: Set up Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: './src/github.com/${{ github.repository }}/go.mod'
          check-latest: true
          cache: false

      # https://github.com/mvdan/github-actions-golang#how-do-i-set-up-caching-between-builds
      - uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          # In order:
          # * Module download cache
          # * Build cache (Linux)
          path: |
            ~/go/pkg/mod
            ~/.cache/go-build
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      #- name: Install protoc
      #  uses: arduino/setup-protoc@v1.1.2
      # arduino/setup-protoc@v1.1.2 can't install latest releases of protoc due
      # to protoc changing their version naming scheme:
      # https://github.com/arduino/setup-protoc/issues/33
      - name: Install Protoc
        run: |
          cd "$(mktemp -d)"
          wget -O protoc.zip https://github.com/protocolbuffers/protobuf/releases/download/v29.3/protoc-29.3-linux-x86_64.zip
          echo "3e866620c5be27664f3d2fa2d656b5f3e09b5152b42f1bedbf427b333e90021a  protoc.zip" | sha256sum -c -
          unzip protoc.zip -d .
          chmod +x ./bin/protoc
          echo "$(pwd)/bin" >> "$GITHUB_PATH"

      - name: Install Dependencies
        run: |
          cd $(mktemp -d)
          go install github.com/google/go-licenses@ceb292363ec84358c9a276ef23aa0de893e59b84
          go install google.golang.org/protobuf/cmd/protoc-gen-go@v1.34.2
          go install google.golang.org/grpc/cmd/protoc-gen-go-grpc@v1.5.1
          go install github.com/grpc-ecosystem/grpc-gateway/v2/protoc-gen-grpc-gateway@v2.22.0
          go install github.com/grpc-ecosystem/grpc-gateway/v2/protoc-gen-openapiv2@v2.22.0

      - name: Update Codegen
        shell: bash
        working-directory: ./src/github.com/${{ github.repository }}
        run: |
          ./hack/update-codegen.sh

      - name: Verify
        uses: chainguard-dev/actions/nodiff@081e79ee578199ef583d4ca74edc376b50b9409c # v1.6.0
        with:
          path: ./src/github.com/${{ github.repository }}
          fixup-command: "./hack/update-codegen.sh"
